body {
	background-color: #f4dada;
    margin-left:190px;margin-right:190px;
}

div.a {
  text-indent: 50px;
}
	
div.header {
	opacity: 0.4;
	color:pink;
	padding:10px;
	width:100px;
	margin:auto;
}
	
h2 {
	font-size: 80px; 
	text-align: center;
}

h3 {
	align: center;
}

a {
	text-decoration: none;
}

a:link {
	color: #30A9DE;
}

a:visited {
  color: #9055A2;
}

a:active {
  color: #F6B352;
}
* {
	box-sizing: border-box;
}
		
header {
	background-image: url('https://images.unsplash.com/photo-1568283096533-078a24930eb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 900px;
    padding: 10px;
    text-align:center;
    font-size: 20px;
    color: #353848;
}
		
nav {
  	float: left;
  	width: 25%;
  	height: auto;
  	background: #D3C4D1;
  	padding: 20px;
}
	
nav ul {
  	list-style-type: none;
    padding: 0;
}
	
article {
 	float: left;
  	padding: 20px;
	width: 75%;
  	background-color: #f1f1f1;
  	height: auto;
}
	
section:after {
  	content: "";
  	display: table;
  	clear: both;
}
	
footer {
  	background-color: #543864;
  	padding: 20px;
  	text-align: center;
  	color: white;
}

footer.p {
	color:#6a60a9
}

@media (max-width: 600px) {
  	nav, article {
    		width: 100%;
    		height: auto;
}}